if command -v module &> /dev/null; then
    if [ -f "./.modules.sh" ]; then
        source "./.modules.sh"
    fi
elif command -v nix &> /dev/null; then
    use flake
elif command -v pyenv &> /dev/null; then
    # pyversion=$(head .python-version)
    # pyvenv=$(basename $PWD)
    pyversion="3.10.7"
    pyvenv=roast
    use python ${pyversion}
    layout virtualenv ${pyversion} ${pyvenv}
    layout activate ${pyvenv}-${pyversion}
fi

# Fix Sphinx copyright date within Nix shells, see:
# https://github.com/sphinx-doc/sphinx/issues/3451
export SOURCE_DATE_EPOCH=$(git log -1 --format=%ct)

# vim: ft=sh
